<!DOCTYPE html>

<html lang="en" data-theme="light" data-sidebar="indigo" data-color="primary" data-topbar="bluegradient" data-layout="modern" data-topbarcolor="white" data-card="shadow" data-size="default" data-width="fluid" data-loader="enable">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="SmartAmps - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
    <meta name="author" content="SmartAmps - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
	<title>SmartAmps Admin Dashboard</title>

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/logo/ICON.ico')  }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/logo/ICON.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fancybox/jquery.fancybox.min.css') }}">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/feather/feather.css') }}">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/bootstrap/bootstrap-icons.min.css') }}">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/tabler-icons/tabler-icons.css') }}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/select2/css/select2.min.css') }}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/fontawesome/css/all.min.css') }}">
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-759e655e9594906b7aa7a0115e8d04dd.css?vsn=d"
    >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-thin.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-duotone-light.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-thin.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/sharp-light.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-thin.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/duotone-light.css"
      >


    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/@simonwep/pickr/themes/nano.min.css') }}">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/daterangepicker/daterangepicker.css') }}">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dataTables.bootstrap5.min.css') }}">

    <!-- Player CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plyr.css') }}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/owlcarousel/owl.carousel.min.css') }}">

    <!-- Summernote CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/summernote/summernote-lite.min.css') }}">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-datetimepicker.min.css') }}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/select2/css/select2.min.css') }}">

    <!-- Dragula CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/dragula/css/dragula.min.css') }}">

    <!-- ChartC3 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/c3-chart/c3.min.css') }}">

    <!-- Bootstrap Tagsinput CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">

    <!-- Rangeslider CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css') }}">

    <!-- Morris CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/morris/morris.css') }}">

    <!-- Material CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/material/materialdesignicons.css') }}">

    <!-- Pe7 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/pe7/pe-icon-7.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/flatpickr/flatpickr.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/jquery-timepicker/jquery-timepicker.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/pickr/pickr-themes.css') }}" />

    <!-- Pe7 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/typicons/typicons.css') }}">

    <!-- Pe7 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/flags/flags.css') }}">

    <!-- Pe7 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/icons/weather/weathericons.css') }}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>


<body class="bg-white">

    <!-- Main Wrapper -->

    <div class="main-wrapper">
        <div class="container-fuild">
            <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
                <div class="row">
                    <!-- Left side with image -->
                    <div class="col-lg-5 d-lg-flex align-items-center justify-content-center d-none flex-wrap vh-100 bg-primary-transparent">
                        <img src="{{ url_for('static', filename='assets/img/bg/forget_pass.png') }}" alt="Img">
                    </div>

                    <!-- Right side with forms -->
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap">
                            <div class="col-md-7 mx-auto vh-100">

                                <!-- Logo -->
                                <div class="mx-auto mb-4 text-center">
                                    <img src="{{ url_for('static', filename='logo/png/Original-removebg.png') }}" class="img-fluid" alt="Logo">
                                </div>

                                <!-- Forgot Password Form -->
                                {% if step == 'email' %}
                                <form action="{{ url_for('user.forgot_password') }}" method="post" class="vh-100">
                                    <div class="d-flex flex-column justify-content-between p-4 pb-0 h-100">
                                        <div>
                                            <div class="text-center mb-3">
                                                <h2 class="mb-2">Forgot Password?</h2>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Email Address</label>
                                                <div class="input-group">
                                                    <input name="email_id" id="email_id" type="email" class="form-control border-end-0" required>
                                                    <span class="input-group-text border-start-0"><i class="fa-solid fa-envelope"></i></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Username</label>
                                                <div class="input-group">
                                                    <input name="username" id="username" type="" class="form-control border-end-0" required>
                                                    <span class="input-group-text border-start-0">
                                                        <i class="fa-solid fa-user"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary w-100">Send OTP</button>
                                            </div>
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                              {% for category, message in messages %}
                                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                  {{ message }}
                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                              {% endfor %}
                                            {% endif %}
                                          {% endwith %}
                                            <div class="text-center">
                                                <h6 class="fw-normal text-dark mb-0">Return to
                                                    <a href="{{ url_for('user.login_user') }}" class="hover-a">Sign In</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="mt-5 pb-4 text-center">
                                            <p class="mb-0 text-gray-9">Copyright &copy; 2025 - SmartAmps</p>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}

                                <!-- OTP Verification Form -->
                                {% if step == 'otp' %}
                                <form action="{{ url_for('user.otp_verify') }}" method="post" class="mt-5">
                                    <div class="">
                                        <div class="text-center mb-3">
                                            <h2 class="mb-2">OTP Verfication</h2>
                                            <p class="mb-0">
                                                Please enter the OTP sent to {{ session.masked_email }}
                                            </p>
                                        </div>
                                        <div class="text-center otp-input">
                                            <div class="d-flex align-items-center mb-3">
                                                <input type="text" class=" rounded w-100 py-sm-3 py-2 text-center fs-26 fw-bold me-3" id="digit-1" name="digit-1" data-next="digit-2" maxlength="1">
                                                <input type="text" class=" rounded w-100 py-sm-3 py-2 text-center fs-26 fw-bold me-3" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" maxlength="1">
                                                <input type="text" class=" rounded w-100 py-sm-3 py-2 text-center fs-26 fw-bold me-3" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" maxlength="1">
                                                <input type="text" class=" rounded w-100 py-sm-3 py-2 text-center fs-26 fw-bold" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" maxlength="1">
                                            </div>
                                            <div>
                                            <div class="badge bg-danger-transparent mb-3">
                                                <p class="d-flex align-items-center">
                                                    <i class="ti ti-clock me-1"></i>
                                                    <span id="otp-timer">00:10</span>
                                                </p>
                                            </div>
                                            <div class="mb-3 d-flex justify-content-center">
                                                <p class="text-gray-9">
                                                    Didn't get the OTP? 
                                                    <a href="{{ url_for('user.resend_otp') }}" 
                                                        class="text-primary" 
                                                        id="resend-otp-link" 
                                                        style="display: none;">Resend OTP</a>
                                                    <span id="resend-text">Resend OTP in <span id="countdown">10</span>s</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary w-100">Verify & Proceed</button>
                                        </div>
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                          {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                              {{ message }}
                                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                          {% endfor %}
                                        {% endif %}
                                      {% endwith %}
                                    </div>
                                </form>
                                {% endif %}

                                <!-- Reset Password Form -->
                                {% if step == 'reset' %}
                                <form action="{{ url_for('user.reset_password') }}" method="post" class="mt-5">
                                    <div class="text-center mb-3">
                                        <h2 class="mb-2">Set New Password</h2>
                                        <p>Please enter your new password</p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">New Password</label>
                                        <div class="input-group">
                                            <input name="new_pass" id="new_pass" type="password" class="form-control border-end-0" required>
                                            <span class="input-group-text border-start-0"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Confirm Password</label>
                                        <div class="input-group">
                                            <input name="confirm_pass" id="confirm_pass" type="password" class="form-control border-end-0" required>
                                            <span class="input-group-text border-start-0"><i class="fa-solid fa-lock"></i></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-success w-100">Reset Password</button>
                                    </div>
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                      {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                          {{ message }}
                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                  {% endwith %}
                                    <div class="text-center">
                                        <h6 class="fw-normal text-dark mb-0">Return to
                                            <a href="{{ url_for('user.login_user') }}" class="hover-a">Sign In</a>
                                        </h6>
                                    </div>
                                </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

    
    {% include 'user/head_foot/scripts.html' %}
        
    
</body>

</html>