<!-- Header -->
<div class="header">
    <div class="main-header">

        <div class="header-left">
            <a href="{{ url_for(session.role ~ '.dashboard') }}" class="logo">
                <img src="{{ url_for('static', filename='logo/host/png/smartamps_logo_icon_sm_bg_removed.png') }}"
                    alt="Logo">
            </a>

            <a href="{{ url_for(session.role ~ '.dashboard') }}" class="dark-logo">
                <img src="{{ url_for('static', filename='logo/host/png/smartamps_logo_icon_black_sm_bg_removed.png') }}"
                    alt="Logo">
            </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>

        <div class="header-user">
            <div class="nav user-menu nav-list">

                <div class="me-auto d-flex align-items-center" id="header-search">
                    <a id="toggle_btn" href="javascript:void(0);" class="btn btn-menubar me-1">
                        <i class="ti ti-arrow-bar-to-left"></i>
                    </a>
                    <!-- Search -->
                    <div class="input-group input-group-flat d-inline-flex me-1">
                        <span class="input-icon-addon">
                            <i class="ti ti-search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search in HRMS">
                        <span class="input-group-text">
                            <kbd>CTRL + / </kbd>
                        </span>
                    </div>
                    <!-- /Search -->
                    <div class="dropdown crm-dropdown">
                        <a href="#" class="btn btn-menubar me-1" data-bs-toggle="dropdown">
                            <i class="ti ti-layout-grid"></i>
                        </a>

                        <!-- <Quick Links Dropdown> -->

                        <div class="dropdown-menu dropdown-lg dropdown-menu-start">
                            <div class="card mb-0 border-0 shadow-none">
                                <div class="card-header">
                                    <h4>Quick Links - HRMS</h4>
                                </div>
                                <div class="card-body pb-1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="{{ url_for('routes.employee_directory') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-users text-primary me-2"></i>Employee Directory
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                            <a href="{{ url_for('routes.attendance_tracker') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-calendar-time text-primary me-2"></i>Attendance
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                            <a href="{{ url_for('routes.leaves_request') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-beach text-primary me-2"></i>Leave Requests
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="{{ url_for('routes.payroll_addition') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-wallet text-primary me-2"></i>Payroll
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                            <a href="{{ url_for('routes.jobs_list') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-briefcase text-primary me-2"></i>Recruitment
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                            <a href="{{ url_for('routes.training_list') }}"
                                                class="d-flex align-items-center justify-content-between p-2 hrms-link mb-3">
                                                <span class="d-flex align-items-center me-3">
                                                    <i class="ti ti-school text-primary me-2"></i>Training
                                                </span>
                                                <i class="ti ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- </Quick Links Dropdown> -->

                    </div>
                    <a href="{{ url_for('auth.profile') }}" class="btn btn-menubar">
                        <i class="ti ti-settings-cog"></i>
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <div class="me-1">
                        <a href="#" class="btn btn-menubar btnFullscreen">
                            <i class="ti ti-maximize"></i>
                        </a>
                    </div>
                    <div class="dropdown me-1">
                        <a href="#" class="btn btn-menubar" data-bs-toggle="dropdown">
                            <i class="ti ti-layout-grid-remove"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="card mb-0 border-0 shadow-none">
                                <div class="card-header">
                                    <h4>Applications</h4>
                                </div>
                                <div class="card-body">
                                    <a href="{{ url_for('routes.application_calendar') }}" class="d-block pb-2">
                                        <span class="avatar avatar-md bg-transparent-dark me-2"><i
                                                class="ti ti-calendar text-gray-9"></i></span>Calendar
                                    </a>
                                    <a href="{{ url_for('routes.application_todo_grid') }}" class="d-block py-2">
                                        <span class="avatar avatar-md bg-transparent-dark me-2"><i
                                                class="ti ti-subtask text-gray-9"></i></span>To Do
                                    </a>
                                    <a href="{{ url_for('routes.application_notes') }}" class="d-block py-2">
                                        <span class="avatar avatar-md bg-transparent-dark me-2"><i
                                                class="ti ti-notes text-gray-9"></i></span>Notes
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="me-1">
                        <a href="{{ url_for('routes.application_chat') }}" class="btn btn-menubar position-relative">
                            <i class="ti ti-brand-hipchat"></i>
                            <span
                                class="badge bg-info rounded-pill d-flex align-items-center justify-content-center header-badge">5</span>
                        </a>
                    </div>
                    <div class="me-1">
                        <a href="{{ url_for('routes.application_email') }}" class="btn btn-menubar">
                            <i class="ti ti-mail"></i>
                        </a>
                    </div>
                    <div class="me-1 notification_item">
                        <a href="#" class="btn btn-menubar position-relative me-1" id="notification_popup"
                            data-bs-toggle="dropdown">
                            <i class="ti ti-bell"></i>
                            {% if notifications|length > 0 %}
                            <span class="notification-status-dot"></span>
                            {% endif %}
                        </a>

                        <div class="dropdown-menu dropdown-menu-end notification-dropdown p-4">
                            <div class="d-flex align-items-center justify-content-between border-bottom p-0 pb-3 mb-3">
                                <h4 class="notification-title">Notifications ({{ notifications|length }})</h4>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="text-primary fs-15 me-3 lh-1">Mark all as read</a>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="bg-white dropdown-toggle"
                                            data-bs-toggle="dropdown">
                                            <i class="ti ti-calendar-due me-1"></i>Today
                                        </a>
                                        <ul class="dropdown-menu mt-2 p-3">
                                            <li><a href="#" class="dropdown-item rounded-1">This Week</a></li>
                                            <li><a href="#" class="dropdown-item rounded-1">Last Week</a></li>
                                            <li><a href="#" class="dropdown-item rounded-1">Last Month</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="noti-content">
                                <div class="d-flex flex-column">
                                    {% for notification in notifications %}
                                    <div class="border-bottom mb-3 pb-3">
                                        <a href="#activity">
                                            <div class="d-flex">
                                                <span class="avatar avatar-lg me-2 flex-shrink-0">
                                                    <img src="{{ url_for('static', filename='assets/img/profiles/' ~ notification.profile_pic) }}"
                                                        alt="Profile">
                                                </span>
                                                <div class="flex-grow-1">
                                                    <p class="mb-1">
                                                        <span class="text-dark fw-semibold">{{ notification.user
                                                            }}</span>
                                                        {{ notification.message }}
                                                    </p>
                                                    <span>{{ notification.time }}</span>
                                                    {% if notification.actions %}
                                                    <div class="d-flex justify-content-start align-items-center mt-1">
                                                        {% for action in notification.actions %}
                                                        <span
                                                            class="btn btn-{{ 'primary' if action == 'Approve' else 'light' }} btn-sm me-2">{{
                                                            action }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="d-flex p-0">
                                <a href="#" class="btn btn-light w-100 me-2">Cancel</a>
                                <a href="{{ url_for('routes.administration_activities') }}"
                                    class="btn btn-primary w-100">View All</a>
                            </div>
                        </div>
                    </div>

                    
                    <div class="dropdown profile-dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center"
                            data-bs-toggle="dropdown">
                            <span class="avatar avatar-sm online">
                                <img src="{{ url_for('static', filename='assets/img/profiles/' ~ user_details.profile_pic_url|default('avatar-01.jpg')) }}"
                                    alt="Img" class="img-fluid rounded-circle">
                            </span>
                        </a>
                        <div class="dropdown-menu shadow-none">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-lg me-2 avatar-rounded">
                                            <img src="{{ url_for('static', filename='assets/img/profiles/' ~ user_details.profile_pic_url|default('avatar-01.jpg')) }}"
                                                alt="img">
                                        </span>
                                        <div>
                                     
                                            <h5 class="mb-0">{{ user_details.first_name }} {{ user_details.last_name }}
                                            </h5>
                                            <p class="fs-12 fw-medium mb-0">{{ user_details.email_id }}</p>
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{{ url_for('auth.profile') }}">
                                        <i class="ti ti-user-circle me-1"></i>My Profile
                                    </a>
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{{ url_for('setting.security_settings') }}">
                                        <i class="ti ti-settings me-1"></i>Settings
                                    </a>
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{{ url_for('routes.connected_apps_settings') }}">
                                        <i class="ti ti-status-change me-1"></i>Status
                                    </a>
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{{ url_for('routes.knowledgebase_home') }}">
                                        <i class="ti ti-question-mark me-1"></i>Knowledge Base
                                    </a>
                                </div>
                                <div class="card-footer">
                                    <a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
                                        href="{{ url_for('auth.logout') }}">
                                        <i class="ti ti-login me-2"></i>Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#profile">My Profile</a>
                <a class="dropdown-item" href="#profile-settings">Settings</a>
                <a class="dropdown-item" href="#login">Logout</a>
            </div>
        </div>
        <!-- /Mobile Menu -->

    </div>

</div>
<!-- /Header -->



<!-- Sidebar -->

<div class="sidebar pb-2" id="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo">
        <a href="{{ url_for(session.role ~ '.dashboard') }}" class="logo logo-normal">
            <img src="{{ url_for('static', filename='logo/host/png/smartamps_logo.png') }}" alt="Logo">
        </a>
        <a href="{{ url_for(session.role ~ '.dashboard') }}" class="logo-small">
            <img src="{{ url_for('static', filename='logo/host/png/smartamps_logo_icon_sm_bg_removed.png') }}"
                alt="Logo">
        </a>
        <a href="{{ url_for(session.role ~ '.dashboard') }}" class="dark-logo">
            <img src="{{ url_for('static', filename='logo/host/png/smartamps_logo_icon_black_sm_bg_removed.png') }}"
                alt="Logo">
        </a>
    </div>
    <!-- /Logo -->
    <div class="modern-profile p-3 pb-0">

    <div class="text-center rounded bg-light p-3 mb-4 user-profile">
        <div class="avatar avatar-lg online mb-3">
            <img src="{{ url_for('static', filename='assets/img/profiles/' ~ user_details.profile_pic_url | default('avatar-01.jpg')) }}"
                 alt="Img" class="img-fluid rounded-circle">
        </div>
        
        <h6 class="fs-12 fw-normal mb-1">{{ user_details.first_name | capitalize }} {{ user_details.lastname | capitalize }}</h6>
        <p class="fs-10">{{ user_details.role_name | capitalize }}</p>
        
    </div>


        <div class="sidebar-nav mb-3">
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified bg-transparent" role="tablist">
                <li class="nav-item"><a class="nav-link active border-0"
                        href="{{ url_for(session.role ~ '.dashboard') }}">Menu</a></li>
                <li class="nav-item"><a class="nav-link border-0"
                        href="{{ url_for('routes.application_chat') }}">Chats</a></li>
                <li class="nav-item"><a class="nav-link border-0"
                        href="{{ url_for('routes.application_email') }}">Inbox</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar-header p-3 pb-0 pt-2">
        <div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
            <div class="avatar avatar-md onlin">
                <img src="{{ url_for('static', filename='assets/img/profiles/' ~ user_details.profile_pic_url | default('avatar-01.jpg')) }}" alt="Img"
                    class="img-fluid rounded-circle">
            </div>
            <div class="text-start sidebar-profile-info ms-2">
                <h6 class="fs-12 fw-normal mb-1">{{ user_details.first_name }} {{ user_details.lastname }}</h6>
                <p class="fs-10">{{ user_details.role_name }}</p>
            </div>
        </div>
    </div>

    <div class="slimScrollDiv" style="position: relative; width: 100%; height: 667px;">
        <div class="sidebar-inner slimscroll" style="width: 100%; height: 635px;">
            <div id="sidebar-menu" class="sidebar-menu">

                <ul>

                    <li class="menu-title"><span>MAIN MENU</span></li>
                    <li>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-smart-home"></i>
                                    <span>Dashboard</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('admin.dashboard') }}" class="">Admin Dashboard</a></li>
                                    <li><a href="{{ url_for('user.dashboard') }}" class="">Employee Dashboard</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-layout-grid-add"></i><span>Applications</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.application_chat') }}" class="">Chat</a></li>
                                    <li class="submenu submenu-two">
                                        <a href="javascript:void(0);" class="">Calls<span
                                                class="menu-arrow inside-submenu"></span></a>
                                        <ul>
                                            <li><a href="{{ url_for('routes.calls_voice') }}" class="">Voice Call</a>
                                            </li>
                                            <li><a href="{{ url_for('routes.calls_video') }}" class="">Video Call</a>
                                            </li>
                                            <li><a href="{{ url_for('routes.outgoing_call') }}" class="">Outgoing
                                                    Call</a></li>
                                            <li><a href="{{ url_for('routes.incoming_call') }}" class="">Incoming
                                                    Call</a></li>
                                            <li><a href="{{ url_for('routes.calls_history') }}" class="">Call
                                                    History</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('routes.application_calendar') }}" class="">Calendar</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.application_email') }}" class="">Email</a></li>
                                    <li><a href="{{ url_for('routes.application_todo_grid') }}" class="">To Do</a></li>
                                    <li><a href="{{ url_for('routes.application_notes') }}" class="">Notes</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-user-star"></i><span>Super Admin</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for( 'superadmin.dashboard' ) }}" class="">Dashboard</a></li>
                                    <li><a href="{{ url_for( 'routes.companies' ) }}" class="">Companies</a></li>
                                    <li><a href="{{ url_for( 'routes.subscriptions' ) }}" class="">Subscriptions</a>
                                    </li>
                                    <li><a href="{{ url_for( 'routes.packages_grid' ) }}" class="">Packages</a></li>
                                    <li><a href="{{ url_for( 'routes.purchase_transaction' ) }}" class="">Purchase
                                            Transaction</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li class="menu-title"><span>HRM</span></li>
                    <li>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-users"></i><span>Employees</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.employees_list') }}" class="">Employee Lists</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.employees_grid') }}" class="">Employee Grid</a></li>
                                    <li><a href="{{ url_for('routes.employees_details') }}" class="">Employee
                                            Details</a></li>
                                    <li><a href="{{ url_for('routes.department_list') }}" class="">Departments</a></li>
                                    <li><a href="{{ url_for('routes.designations_list') }}" class="">Designations</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.policies_list') }}" class="">Policies</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-ticket"></i><span>Tickets</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.tickets_list') }}" class="">Tickets</a></li>
                                    <li><a href="{{ url_for('routes.tickets_details') }}" class="">Ticket Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.holidays') }}">
                                    <i class="ti ti-calendar-event"></i><span>Holidays</span>
                                </a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-file-time"></i><span>Attendance</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li class="submenu submenu-two">
                                        <a href="javascript:void(0);" class="">Leaves<span
                                                class="menu-arrow inside-submenu"></span></a>
                                        <ul>
                                            <li><a href="{{ url_for('routes.leaves_admin') }}" class="">Leaves
                                                    (Admin)</a></li>
                                            <li><a href="{{ url_for('routes.leaves_employee') }}" class="">Leave
                                                    (Employee)</a></li>
                                            <li><a href="{{ url_for('routes.leaves_settings') }}" class="">Leave
                                                    Settings</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('routes.attendance_admin') }}" class="">Attendance
                                            (Admin)</a></li>
                                    <li><a href="{{ url_for('routes.attendance_employee') }}" class="">Attendance
                                            (Employee)</a></li>
                                    <li><a href="{{ url_for('routes.timesheets') }}" class="">Timesheets</a></li>
                                    <li><a href="{{ url_for('routes.shift_and_schedule') }}" class="">Shift &amp;
                                            Schedule</a></li>
                                    <li><a href="{{ url_for('routes.overtime') }}" class="">Overtime</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-school"></i><span>Performance</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.performance_indicator') }}" class="">Performance
                                            Indicator</a></li>
                                    <li><a href="{{ url_for('routes.performance_review') }}" class="">Performance
                                            Review</a></li>
                                    <li><a href="{{ url_for('routes.performance_appraisal') }}" class="">Performance
                                            Appraisal</a></li>
                                    <li><a href="{{ url_for('routes.performance_goal') }}" class="">Goal List</a></li>
                                    <li><a href="{{ url_for('routes.performance_type') }}" class="">Goal Type</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-edit"></i><span>Training</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.training_list') }}" class="">Training List</a></li>
                                    <li><a href="{{ url_for('routes.trainers') }}" class="">Trainers</a></li>
                                    <li><a href="{{ url_for('routes.training_type') }}" class="">Training Type</a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.promotion') }}">
                                    <i class="ti ti-speakerphone"></i><span>Promotion</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.resignation') }}">
                                    <i class="ti ti-external-link"></i><span>Resignation</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.termination') }}">
                                    <i class="ti ti-circle-x"></i><span>Termination</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-title"><span>RECRUITMENT</span></li>
                    <li>
                        <ul>
                            <li class="">
                                <a href="{{ url_for('routes.jobs_list') }}">
                                    <i class="ti ti-timeline"></i><span>Jobs</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.candidate_list') }}">
                                    <i class="ti ti-user-shield"></i><span>Candidates</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ url_for('routes.candidate_refferals') }}">
                                    <i class="ti ti-ux-circle"></i><span>Referrals</span>
                                </a>
                            </li>

                            <li class="submenu">
                                <a href="javascript:void(0);" class=""><span>Payroll</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.payroll_employee_salary') }}" class="">Employee
                                            Salary</a></li>
                                    <li><a href="{{ url_for('routes.payroll_employee_payslip') }}" class="">Payslip</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.payroll_addition') }}" class="">Payroll Items</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="menu-title"><span>ADMINISTRATION</span></li>
                    <li>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-cash"></i><span>Assets</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.administration_assets') }}" class="">Assets</a></li>
                                    <li><a href="{{ url_for('routes.administration_assets_list') }}" class="">Asset
                                            Categories</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-headset"></i><span>Help &amp; Supports</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.knowledgebase_home') }}" class="">Knowledge Base</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.administration_activities') }}"
                                            class="">Activities</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-user-star"></i><span>User Management</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.user_management') }}" class="">Users</a></li>
                                    <li><a href="{{ url_for('routes.roles_management') }}" class="">Roles &amp;
                                            Permissions</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-user-star"></i><span>Reports</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="{{ url_for('routes.report_expense_report') }}" class="">Expense
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_invoice_report') }}" class="">Invoice
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_payments_report') }}" class="">Payment
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_projects_report') }}" class="">Project
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_task_report') }}" class="">Task Report</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.report_users_report') }}" class="">User Report</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.report_employee_report') }}" class="">Employee
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_payslip_report') }}" class="">Payslip
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_attendance_report') }}" class="">Attendance
                                            Report</a></li>
                                    <li><a href="{{ url_for('routes.report_leaves_report') }}" class="">Leave Report</a>
                                    </li>
                                    <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Daily Report</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="">
                                    <i class="ti ti-settings"></i><span>Settings</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li class="submenu submenu-two">
                                        <a href="javascript:void(0);" class="">General Settings<span
                                                class="menu-arrow inside-submenu"></span></a>
                                        <ul>
                                            <li><a href="{{ url_for('routes.profile_settings') }}" class="">Profile</a>
                                            </li>
                                            <li><a href="{{ url_for('setting.security_settings') }}"
                                                    class="">Security</a></li>
                                            <li><a href="{{ url_for('routes.notification_settings') }}"
                                                    class="">Notifications</a></li>
                                            <li><a href="{{ url_for('routes.connected_apps_settings') }}"
                                                    class="">Connected Apps</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{{ url_for('routes.connected_api_open_ai') }}" class="">Knowledge
                                            Base</a></li>

                                    <!-- <li class="submenu submenu-two">
                                        <a href="javascript:void(0);" class="">App Settings<span class="menu-arrow inside-submenu"></span></a>
                                        <ul>
                                            <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Salary Settings</a></li>
                                            <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Approval Settings</a></li>
                                            <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Invoice Settings</a></li>
                                            <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Leave Type</a></li>
                                            <li><a href="{{ url_for('routes.report_daily_report') }}" class="">Custom Fields</a></li>
                                        </ul>
                                    </li> -->

                                    <li class="submenu submenu-two">
                                        <a href="javascript:void(0);" class="">System Settings<span
                                                class="menu-arrow inside-submenu"></span></a>
                                        <ul>
                                            <li><a href="{{ url_for('routes.email_settings') }}" class="">Email
                                                    Settings</a></li>
                                            <li><a href="{{ url_for('routes.email_templates') }}" class="">Email
                                                    Templates</a></li>
                                            <li><a href="{{ url_for('routes.sms_settings') }}" class="">SMS Settings</a>
                                            </li>
                                            <li><a href="{{ url_for('routes.sms_templates') }}" class="">SMS
                                                    Templates</a></li>
                                            <li><a href="{{ url_for('routes.cookies_settings') }}" class="">GDPR
                                                    Cookies</a></li>
                                            <li><a href="{{ url_for('routes.maintenance_mode_settings') }}"
                                                    class="">Maintenance Mode</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{{ url_for('routes.ban_ips') }}" class="">Ban IP Address</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
        <div class="slimScrollBar"
            style=" display: none; border-radius: 7px; z-index: 99; right: 1px; height: 47.6878px;"></div>
        <div class="slimScrollRail"
            style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
        </div>
    </div>

</div>

<!-- /Sidebar -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        const menuLinks = document.querySelectorAll("a");

        menuLinks.forEach(function (link) {
            const href = link.getAttribute("href");
            if (href && href !== "javascript:void(0);" && currentPath.startsWith(href)) {
                // Add active class to the current link
                link.classList.add("active");

                // Also activate parent submenu if exists
                const parentUl = link.closest("ul");
                if (parentUl && parentUl.previousElementSibling) {
                    parentUl.previousElementSibling.classList.add("active", "subdrop");
                    parentUl.style.display = "block"; // Optional: expand the submenu
                }
            }
        });
    });
</script>



